.ck.ck-editor__main > .ck-editor__editable {
    min-height: 300px !important;
}

.fileContainer {
    border: 1px solid #cbccce;
    box-shadow: none !important;
    border-radius: 5px !important;
}

.css-yk16xz-control {
    min-height: 54px !important;
}

.css-1pahdxg-control {
    min-height: 54px !important;
}

.css-1wa3eu0-placeholder {
    color: #1a1e21 !important;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #cbccce;
    border-style: dashed;
    background-color: #fafafa;
    color: #1a1e21;
    outline: none;
    font-size: 14px;
    transition: border .24s ease-in-out;
}


.sketch-picker {
    box-shadow: none !important;
    border: none;
    width: 100% !important;
}

.hover-pointer{
    cursor: pointer !important;
}

.custom-color{
    padding: 10px 12px;
    border-radius: 100%;
    margin: 0 5px;
}

.custom-color-options .css-12jo7m5 {
    font-size: 100% !important;
    padding: 6px 6px 6px 0px !important;
}
.custom-color-options .css-1rhbuit-multiValue{
    background: none !important;
}
